.label-size-default{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.label-size-nopadding{
  height: 100%;
  width: 100%;
  margin: 0;
}
@mixin label-size-custom($width:100%,$height:100%){
  margin: 0;
  padding: 0;
  width: $width;
  height: $height;  
}

@mixin border-radius($radius) {
  border-radius: $radius;
-ms-border-radius: $radius;
-moz-border-radius: $radius;
-webkit-border-radius: $radius;
}
.vertical-center{
  margin-top: 0;
  padding-top: 0;
  height: auto;
  padding-bottom: 0;
  margin-bottom: 0;
}
.horizontal-center{
  margin-left: 0;
  padding-left: 0;
  width: auto;
  padding-right: 0;
  margin-right: 0;
}
$myBlue: #4680d1;
$myGlassColor:#323949;
$myFontSize:12px;
.myFontDefault{
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  font-size:12px;
  font-family:Arial,Verdana,Sans-serif;
}
@mixin myFontCustom($FontSize:12px,$FontFamily:Arial){
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  font-size:$FontSize;
  font-family:$FontFamily,Verdana,Sans-serif;
}
// 滚动条样式1
@mixin myScrollBar($width:5px,$height:5px){
  &::-webkit-scrollbar {
    /*滚动条整体样式*/
    width : $width;  /*高宽分别对应横竖滚动条的尺寸*/
    height: $height;
  }
  &::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #535353;
  }
  &::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #ededed;
  }
}
// 滚动条样式2
@mixin custom-scroll-bar($parent_element){
  &::-webkit-scrollbar {
    /*滚动条整体样式*/
    width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
    }
  &::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius   : 10px;
  background-color: skyblue;
  background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
  );
  }
  &::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #ededed;
  border-radius: 10px;
  }
}

