.label-size-default{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.label-size-nopadding{
  height: 100%;
  width: 100%;
  margin: 0;
}
@mixin label-size-custom($width:100%,$height:100%){
  margin: 0;
  padding: 0;
  width: $width;
  height: $height;  
}

@mixin border-radius($radius) {
  border-radius: $radius;
-ms-border-radius: $radius;
-moz-border-radius: $radius;
-webkit-border-radius: $radius;
}
.vertical-center{
  margin-top: 0;
  padding-top: 0;
  height: auto;
  padding-bottom: 0;
  margin-bottom: 0;
}
.horizontal-center{
  margin-left: 0;
  padding-left: 0;
  width: auto;
  padding-right: 0;
  margin-right: 0;
}
$myBlue: #4680d1;
$myGlassColor:#323949;
$myFontSize:12px;
.myFontDefault{
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  font-size:12px;
  font-family:Arial,Verdana,Sans-serif;
}
@mixin myFontCustom($FontSize:12px,$FontFamily:Arial){
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  font-size:$FontSize;
  font-family:$FontFamily,Verdana,Sans-serif;
}

/*-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
	/* &.router-link-exact-active {
	color: #42b983;
	} */